   <div ng-controller="PostsController as PostsCtrl" class="container">
        
          
            <div class="card" ng-repeat="post in PostsCtrl.posts">
              <div class="card-body">
                <h4 class="card-title"><a href="#/postDetails/{{post.id}}">{{post.title}}</a></h4>
                <h6 class="card-subtitle mb-2 text-muted"><a href="#/userDetails/{{post.userId}}">Author: {{post.username}}</a></h6>
                <img src="images/thumbsup.svg" alt="thumbs-up" class="rounded">
              </div>
            </div>
          
 
    </div>