<div ng-controller="UserDetailController as UserDetailCtrl" class="container">

    <div class="container">
        <div class="card">
          <h5 class="card-header">Contact Information</h5>
          <div class="card-body">
            <!--username-->
            <p class="card-text">
              Username:
              <div class="input-group">
                  <span class="input-group-addon">
                    <input id="user.usernameCheck" type="checkbox"
                    aria-label="Checkbox for username"
                    ng-model="userNameChecked">
                  </span>
                  <input type="text" class="form-control"
                    id="user.username"
                    ng-model="UserDetailCtrl.username"
                    ng-disabled="!userNameChecked"
                    ng-value="UserDetailCtrl.user.username">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"
                      ng-click=uD.updateUserName(UserDetailCtrl.username)>Update
                    </button>
                  </span>
              </div>
            </p>
            <!--/username-->
            <!--name-->
            <p class="card-text">
              Name:
              <div class="input-group">
                  <span class="input-group-addon">
                    <input id="user.nameCheck" type="checkbox"
                    aria-label="Checkbox for name"
                    ng-model="nameChecked">
                  </span>
                  <input type="text" class="form-control"
                    id="user.name"
                    ng-model="UserDetailCtrl.name"
                    ng-disabled="!nameChecked"
                    ng-value="UserDetailCtrl.user.name"
                    >
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button"
                      ng-click=uD.updateName(UserDetailCtrl.name)>Update
                    </button>
                  </span>
              </div>
            </p>
            <!--/name-->
            <p class="card-text">Email: {{UserDetailCtrl.user.email}}</p>
            <p class="card-text">Phone: {{UserDetailCtrl.user.phone}}</p>
            <p class="card-text">Website: {{UserDetailCtrl.user.website}}</p>
            
          </div>
        </div>
     
        <div class="card">
          <h6 class="card-header">
            Address
          </h6>
          <div class="card-body">
            <p class="card-text">Street: {{UserDetailCtrl.user.address.street}}</p>
            <p class="card-text">Suite: {{UserDetailCtrl.user.address.suite}}</p>
            <p class="card-text">City: {{UserDetailCtrl.user.address.city}}</p>
            <p class="card-text">Zipcode: {{UserDetailCtrl.user.address.zipcode}}</p>
          </div>
        </div>
    </div>
  
  
  
  <div class="userPosts">
    <h3>User Posts:</h3>
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" ng-repeat="posts in UserDetailCtrl.posts">
          <div class="card-body"><a href="#/postDetails/{{posts.id}}">{{posts.title}}</a></div>
          
        </li>
      </ul>
    </div>
  </div>
</div>